@import "../../../sass/variables";

.btn {
  font-weight: 700;
  border: none;
  transition: 0.3s ease-out;
}

.btn--submit {
  display: block;
  width: 100%;
  padding: 0.625rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: $color-primary;
  color: $color-background;
  margin-top: 1rem;

  &:hover,
  &:active {
    background-color: $color-background;
    color: $color-accent;
    border: 1px solid $color-accent;
  }
}

.btn--inline {
  color: $color-accent;
  background: none;
}

.btn--profile {
  padding: 0.625rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  ion-icon {
    font-size: 1.25rem;
  }
}

.btn--logout,
.btn--edit-account {
  color: $color-secondary;

  &:hover,
  &:active {
    background-color: $color-border;
  }
}

.btn--delete-account {
  background-color: rgba($color-error, 0.05);
  color: $color-error;

  &:hover,
  &:active {
    background-color: rgba($color-error, 0.15);
  }
}

.btn--close-error {
  display: grid;
  place-items: center;
  background: none;
  color: $color-primary;
  font-size: 1.25rem;
}
